<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd">
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">tests/Unit</directory>
      <exclude>tests/Unit/Common/Models/AccessPolicyTest.php</exclude>
    </testsuite>
    <testsuite name="functional">
      <directory suffix="Test.php">tests/Functional</directory>
    </testsuite>
  </testsuites>

  <logging>
    <testdoxHtml outputFile="build/coverage/testdox.html"/>
    <junit outputFile="build/logs/junit.xml"/>
  </logging>

  <coverage>
    <report>
      <html outputDirectory="build/coverage" lowUpperBound="35" highLowerBound="70"/>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
    <include>
      <directory suffix=".php">azure-storage-blob/src</directory>
      <directory suffix=".php">azure-storage-table/src</directory>
      <directory suffix=".php">azure-storage-queue/src</directory>
      <directory suffix=".php">azure-storage-file/src</directory>
      <directory suffix=".php">azure-storage-common/src</directory>
    </include>
  </coverage>
</phpunit>